html {
    scroll-behavior: smooth;
}

body {
    font-family: karla, Arial, sans-serif;
    line-height: 1.8;
    font-size: 17px;
    font-weight: 400;
    background: #fafafa;
    color: gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgba(0, 0, 0, .8);
    font-family: playfair display, Georgia, serif;
    margin: 0 0 30px;
}

p,
span {
    margin-bottom: 1.5em;
    font-weight: 400;
    font-family: karla, Arial, sans-serif;
}

#page {
    position: relative;
    -webkit-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
    -moz-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
    -ms-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
    -o-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
    transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

#profile-section,
#skills-section,
#portfolio-section,
#testimonial-section {
    padding: 7em 0;
    clear: both;
    position: relative;
}

@media screen and (max-width:768px) {
    #page {
        padding: 5em 0;
    }
}

@media screen and (max-width:768px) {
    #profile-section,
    #skills-section,
    #portfolio-section,
    #testimonial-section {
        padding: 1em 0
    }
}

.rotate {
    position: absolute;
    top: .4em;
    left: -50px;
}

@media screen and (max-width:768px) {
    .rotate{
        display:none;
    }
}


.rotate .heading {
    font-family: karla, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1em;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: left top 0;
    -moz-transform-origin: left top 0;
    -ms-transform-origin: left top 0;
    -o-transform-origin: left top 0;
    transform-origin: left top 0;
    position: relative;
}

.rotate .heading:after {
    position: absolute;
    top: 8px;
    right: -40px;
    content: '';
    background: #000;
    width: 40px;
    height: 1px;
}

.about-placement,
.service-placement {
    padding-top: 40px;
}

@media screen and (max-width:768px) {
    .about-placement,
    .service-placement {
    padding-top: 10px;
    }
}

.profile-desc {
    padding-top: 3em;
}

@media screen and (max-width:768px) {
    .profile-desc{
        padding-top: 1px;
    }
}

.profile-desc h2 {
    line-height: 1.3;
}

.profile-desc h2 span {
    display: block;
    margin-bottom: 0;
    color: #000;
    font-size: 45px;
    font-family: playfair display, Georgia, serif;
}

.profile-desc .desc {
    padding-left: 6em;
    position: relative;
}

@media screen and (max-width:768px) {
    .profile-desc .desc {
        padding-left: 1px;
        position: relative;
    }
}



.profile-desc .rotate {
    position: absolute;
    top: 7px;
    left: 30px;
}

.profile-desc .rotate .heading {
    font-family: karla, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1em;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: left top 0;
    -ms-transform-origin: left top 0;
    transform-origin: left top 0;
    position: relative;
}

img {
    max-width: 100%;
    border: 0;
    vertical-align: middle;
    padding: 3em 0;
    object-fit: cover;
}

.profile-pic {
    display: block;
    background-size: cover;
}

.bold {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 250px;
    color: #f0f0f0;
    font-weight: 700;
}

@media screen and (max-width:768px) {
    .bold {
        display: none;
    }
}

.col-md-push-1 {
    left: 8.33333%;
}

@media screen and (max-width:667px) {
    .col-md-push-1 {
        left: 1px;
    }
}

.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-size: 13px !important;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 1px;
    padding: 8px 20px;
}

.btn-primary {
    background: #007bff;
    color: #fff;
    border: 2px solid #007bff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #007bff!important;
    border-color: #007bff!important
}

.btn-primary.btn-outline {
    background: 0 0;
    color: #4d4d4d;
    border: 1px solid #d9d9d9;
}

.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active {
    background: #007bff;
    color: #fff;
}

.social-icons {
    font-size: 18px;
}

.services-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    width: 100%;
}

.services-flex .one-third,
.services-flex .one-fourth {
    display: inline-block;
}

@media screen and (max-width:768px) {
    .services-flex {
        display: block;
        margin-bottom: 5em;
        width: 100%;
        float: left;
    }
}

.services-flex .one-third {
    width: 55%;
    padding: 3em 2em 3em 0;
}

.services-flex .one-fourth {
    width: 45%;
    left: 2%
}

@media screen and (max-width:768px) {
    .services-flex .one-third {
        width: auto;
        display: block;
    }
}

@media screen and (max-width:768px) {
    .services-flex .one-fourth {
        display: none;
    }
}

.services {
    margin-bottom: 4em;
}

.services h3 {
    font-family: karla, Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.services ul li {
    margin-bottom: 10px;
}

.services-img {
    background-size: auto 85%;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    object-fit: cover;
}

.intro-heading {
    margin-bottom: 3em;
}

.intro-heading h2 {
    font-size: 34px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.5em;
    color: #000;
    position: relative;
}

.intro-heading span {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: #bfbfbf;
    font-weight: 600;
}

.work-entry {
    display: block;
    margin-bottom: 5em;
    width: 100%;
    float: left;
}


.work-entry .work-img {
    width: 100%;
    height: 700px;
    margin-bottom: 40px;
    display: table;
    text-align: center;
    text-decoration: none;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    transition: .5s ease;
    object-fit: cover;
}

@media screen and (max-width:768px) {
    .work-entry .work-img {
        height: 400px
    }
}

.work-entry:hover .work-img {
    opacity: 0.3;
}

.testimony blockquote {
    border: none;
}

.testimony blockquote p {
    font-family: playfair display, Georgia, serif;
    color: #000;
    font-size: 26px;
}

.testimony blockquote span {
    font-family: playfair display, Georgia, serif;
    color: #000;
    font-size: 26px;
}

@media screen and (max-width:768px) {
    .testimony blockquote p {
        font-family: karla, Arial, sans-serif;
        line-height: 1.8;
        font-size: 17px;
        font-weight: 400;
        background: #fafafa;
        color: gray;
    }
    
    .testimony blockquote span {
        font-family: karla, Arial, sans-serif;
        line-height: 1.8;
        font-size: 17px;
        font-weight: 400;
        background: #fafafa;
        color: gray;
    }
}

#footer {
    padding: 8em 0;
    display: block;
    width: 100%;
}

.col-pb-sm {
    margin-bottom: 5em;
}